<!-- <h1>{{value}}</h1>

<h3>{{ val }}</h3>

<h5>{{ ghost }}</h5>

<hr>

<h5>{{ sp }}</h5>

<hr>

<br />
<br />

<button [disabled]="disable">You cannot click this button!</button>

<br />
<br />

<button [disabled]="isDisabled" (click)="submit()">btn</button>
<input type="text" [(ngModel)]="address"><label for="ip">{{ address }}</label>

<br />
<br />

<button (click)="new()">next page</button>

<br />
<br />

<input type="text" (change)="try()"><label for="try">{{counter}}</label>

<br />
<br />

<button (click)="hbd()">wish Toshi happy birthday!</button>

<br />
<br />

<p ><label for="cl">{{ calc }}</label></p><button (click)="t1()">get the ans!</button>

<br />
<br />

<img [src]="url" /> -->
<router-outlet></router-outlet> 

<!-- <app-parent></app-parent> -->

<!-- <app-reactiveForm></app-reactiveForm> -->

<!-- <app-prodList></app-prodList> -->

<!-- <app-home></app-home> -->





